/Other(ignore)/
/Tools/
/Plots/
/Zheng - Plots/
/Videos/
/Stats/
/Results/
/Results Phase 2/
/Instance_logs/
/Instance_logs1/
/Instance_logs2/
/Instance_logs3/
/Testing/
/Zheng - Plots/
/__pycache__/
/PCAP/*
!/PCAP/Traces/
/.idea/
/.pylint.d/
/Matlab/*
!/Matlab/TraceGeneration/
*.asm
*.asv
*.pylint.d
!/Matlab/Aux Functions
!/Matlab/Aux Scripts
!/Matlab/Instances-Home
!/Matlab/Quadriga
!/Matlab/Precoders
!/Matlab/Tracks
!/Matlab/Meeting12.m
*.txt
test.py
*.png
*.pcap
*.mp4
__init__.py
dot_to_png.py
%LOCALAPPDATA%/Microsoft/Windows/SchCache/tsn.tno.nl.sch
trash.py
Matlab/TraceGeneration/renamer.py
